:root
{
  --squish-grey: #ececec;
  --squish-skin: #f6dac0;
  --squish-green: #7e9b8b;
  --squish-light-green: #93beb4;
  --squish-peach: #e2a67d;
  --squish-yellow: #f5bd8f;
  --squish-orange: #cc6f42;
  --squish-electric-red: #d68671;
  --squish-auburn: #cc6f42;
  --squish-red: #862b21;
  --squish-brown: #814c47;
  --squish-chocolate: #6f1b17;
  --squish-grey-overlay: #ecececc0;
  --squish-green-overlay: #7e9b8b80;
  --squish-yellow-overlay: #f5bd8fc0;
  
  --centre-content-pad: 2rem;
  --card-height: 30rem;
  --radius-large: 1rem;
  --radius-medium: 0.5rem;
  --drawer-handle-height: 2.5rem;
  --drawer-handle-down: 5rem;
  --drawer-deadspace: 3rem;
  --arrow-icon-width: 4rem;
  --hover-zoom-percent: 2.5;
  --smoothing: 0.5s;

  --drawer-handle-up: calc(var(--card-height) - var(--drawer-deadspace));
  --hover-zoom-scale: calc((100 + var(--hover-zoom-percent)) / 100);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 1rem;
}

@media screen and (orientation:landscape)
{
  :root
  {
    font-size: 0.5rem;
  }
}

html,
body
{
  margin: 0;
  padding: 0;
  background-color: var(--squish-grey);
}

#twitter-icon
{
  width: 10rem;
  height: 10rem;
}

h1
{
  color: var(--squish-chocolate);
  font-size: 5rem;
}

h2
{
  color: var(--squish-brown);
  font-size: 3.5rem;
}

.centred-vertical h2
{
  margin: 0 0 0 0;
}

h3
{
  color: var(--squish-brown)
}

.banner
{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--squish-peach);
  padding: 0.5rem;
  justify-content: center;
}

.centre-content
{
  margin: 0 auto;
  max-width: 1000px;
}

.content-padding
{
  padding: var(--centre-content-pad);
}

.hand
{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}


@media (min-width: 1000px)
{
  .hand
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 1rem;
  }
}


.centrer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.centred-horizontal
{
  grid-column: 2;
}

.centred-vertical
{
  grid-row: 2;
}

.card
{
  color: var(--squish-red);
  background-color: var(--squish-light-green);
  text-align: center;
  padding: 1rem;
  height: var(--card-height);
  border-radius: var(--radius-large);

  display: grid;
  grid-template-rows: 1fr 4.5rem 1fr;
  justify-content: center;
  
  overflow: hidden;

  transition-duration: calc(var(--smoothing) * 0.5);
}

.full-width-image
{
  margin: 3rem 0 0 0;
  max-width: min(50rem, calc(100vw - (2 * var(--centre-content-pad))));
}