:root
{
  --squish-grey: #ececec;
  --squish-skin: #f6dac0;
  --squish-green: #7e9b8b;
  --squish-light-green: #93beb4;
  --squish-peach: #e2a67d;
  --squish-yellow: #f5bd8f;
  --squish-orange: #cc6f42;
  --squish-electric-red: #d68671;
  --squish-auburn: #cc6f42;
  --squish-red: #862b21;
  --squish-brown: #814c47;
  --squish-chocolate: #6f1b17;
  --squish-grey-overlay: #ecececc0;
  --squish-green-overlay: #7e9b8b80;
  --squish-yellow-overlay: #f5bd8fc0;
  
  --centre-content-pad: 2rem;
  --card-height: 30rem;
  --radius-large: 1rem;
  --radius-medium: 0.5rem;
  --drawer-handle-height: 2.5rem;
  --drawer-handle-down: 5rem;
  --drawer-deadspace: 3rem;
  --arrow-icon-width: 4rem;
  --hover-zoom-percent: 2.5;
  --paragraph-size: 2.5rem;
  --smoothing: 0.5s;
  --screenshot-height-ratio: calc(9 / 16);

  --hover-zoom-scale: calc((100 + var(--hover-zoom-percent)) / 100);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 1rem;
}

@media screen and (orientation:landscape) 
{
  :root
  {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 1000px)
{
  :root
  {
    font-size: 0.5rem;
  }
}

html,
body
{
  margin: 0;
  padding: 0;
  background-color: var(--squish-grey);
  
}

#twitter-icon
{
  width: 10rem;
  height: 10rem;
  margin: 0 0 0 2rem;
}

h1
{
  color: var(--squish-chocolate);
  font-size: 5rem;
}

h2
{
  color: var(--squish-brown);
  font-size: 3.5rem;
}

.centred-vertical h2
{
  margin: 0 0 0 0;
}

h3
{
  color: var(--squish-brown)
}

p
{
  font-size: var(--paragraph-size);
}

.banner
{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--squish-peach);
  padding: 2rem;
  justify-content: center;
}

.banner h1
{
  margin: 1.5rem 0 0 0;
}

.centre-content
{
  margin: 0 auto;
  max-width: 1000px;
  padding: var(--centre-content-pad);
}



.hand
{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}


@media (min-width: 1000px)
{
  .hand
  {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 1rem;
  }
}


.centrer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.centred-horizontal
{
  grid-column: 2;
}

.centred-vertical
{
  grid-row: 2;
}

.card
{
  color: var(--squish-red);
  background: var(--squish-green);
  text-align: center;
  padding: 1rem;
  height: var(--card-height);
  border-radius: var(--radius-large);

  display: grid;
  grid-template-rows: 5fr 1fr 5fr;
  justify-content: center;
  
  overflow: hidden;

  position: relative;

  z-index: 0;

  text-decoration: none;
}

.card h2
{
  z-index: 2;
  background-color: var(--squish-peach);
  margin: 0;
  padding: 1rem;
  border-radius: var(--radius-large);
}

.full-width-image
{
  margin: 3rem 0 0 0;
  max-width: min(50rem, calc(100vw - (2 * var(--centre-content-pad))));
}

.card-image
{
  position: absolute;
  width: 200%;
  left: calc(100% * -0.5);
  top: calc(var(--screenshot-height-ratio) * 100% * -0.5);
  opacity: 0.5;
  z-index: -1;
}

.card .info
{
  position: absolute;
  width: 50rem;
  top: calc(var(--card-height) - (2 * var(--paragraph-size)));
  left: calc((100% / 2) - 25rem);

  border-radius: var(--radius-large);

  z-index: 1;
}

.card .whiteout
{
  position: absolute;
  background: #ffff;
  background: linear-gradient(0deg, #fff8 0%, #0000 50%, #0000 100%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.footer
{
  margin-top: 10rem;
  text-align: center;
}

#copyright
{
  color: var(--squish-green)
}

.horizontal-display
{
  display: flex;
  flex-direction: row;
}

.spinner
{
  margin: 3rem 2rem 0rem 2rem;
  height: 3rem;
  width: 3rem;
  border-style: dashed;
  border-width: 1rem;
  border-radius: 3rem;
  border-color: var(--squish-green);
  animation: 1s linear infinite spinner-animation;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  50%
  {
    transform: rotate(180deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}